.section {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.item1 {
  text-align: left;
}

.item2 {
  text-align: left;
}

.profile-picture img {
  width: 300px;
  height: auto;
  padding-top: 25px;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .item1 {
    grid-area: myArea;
  }

  item2 {
    justify-self: center;
  }

  .grid-container {
    display: grid;
    grid-template-areas: 'myArea myArea';
  }
}
