.section {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.item1 {
  text-align: left;
}

.about-paragraph {
  text-align: left;
}

.profile-picture img {
  width: 300px;
  height: auto;
  padding-top: 25px;
  text-align: center;
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    align-items: center;
  }

  .about-paragraph {
    margin-right: 50px;
  }

  .about-paragraph p {
    font-size: 24px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .about-paragraph {
    margin-right: 20px;
  }

  .profile-picture img {
    width: 350px;
    height: auto;
  }
}
