.container-section {
  background-color: rgb(68, 219, 144);

  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.contact-container {
  text-align: left;
  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
  margin: 0 auto;
  max-width: 800px;
  height: auto;
  padding: 20px;
  /* This border is just for testing purposes  */
  border: 1px solid rgb(7, 7, 7);
}

.contact-container a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-left: 10px;
  margin-top: 50px;
}

.contact-container a:hover {
  color: rgb(4, 39, 236);
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .item11 {
    grid-area: myArea;
  }

  .contact-container {
    display: grid;
    grid-template-areas: 'myArea myArea ';
    gap: 10px;
    background-color: #2196f3;
    padding: 10px;
  }
}
