.container-section {
  background-color: rgb(68, 219, 144);

  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.contact-container {
  max-width: 800px;
  text-align: left;
  list-style: none;
  text-decoration: none;
  margin-left: 16px;
}

.contact-container a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  margin-left: 10px;
  margin-top: 50px;
}

.contact-container a:hover {
  color: rgb(4, 39, 236);
}
