footer {
  color: white;
  background-color: black;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: var(--font-size-paragraph);
}

.footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer li {
  justify-items: center;
  padding-right: 20px;
}
