.overlay-style {
  position: fixed;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);

  z-index: 1000;
}

.modal-style {
  position: fixed;

  border: 2px solid red;
  border-radius: 5px;
  /* padding: 10px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  z-index: 100;
}

.btn-cancel {
  width: 40px;
  height: 30px;
  background-color: rgb(181, 211, 172);
  color: rgb(235, 29, 29);
  border: none;
  justify-content: center;
  align-items: center;
  float: right;
  border-radius: 8px;
}
