.modal-background {
  position: fixed;
  object-fit: cover;
  width: 80%;
}

.modal-card-view {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  z-index: 100;
  width: 90%;
  max-width: 420px;
  height: 300px;
  max-height: 550px;
  overflow: auto;
}
