nav .menu {
  position: fixed;
  background-color: #c8d8e4;
  top: 0.6%;
  width: 100%;
  z-index: 1;
}

nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
  box-shadow: 0px 0px 5px 2px #52ab98;
}

nav ul li {
  display: inline-block;
  padding: 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 1px;
  color: #2b6777;
  font-weight: bolder;
  scroll-behavior: smooth;
}
