.project-section {
  background-color: var(--color-light-gray);
  padding: 30px 20px;
}

.project-container {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}

.item-two {
  font-size: 24px;
}

.item-three {
  font-size: 24px;

  display: flex;
  flex-wrap: wrap;
}

.inactive {
  display: none;
}

.project-section-flex {
  display: flex;
  flex-direction: column;
}

.item-three ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-three ul img {
  width: 180px;
  height: auto;

  display: flex;
}

.item-three ul li {
  background-color: rgb(255, 255, 255);
  width: 180px;
  height: 140px;
}

/* ..............MEDIA QUERIES................. */
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .project-container {
    display: flex;
    flex-flow: row wrap;

    width: 800px;
    height: auto;
  }

  .item-one {
    flex: 0 0 100%;
  }

  .item-two {
    flex: 0 0 34%;
    margin-top: 20px;
  }
  .item-three {
    flex: 0 0 66%;
  }
}
