.project-section {
  background-color: #f8f2f2;
  padding: 20px 0px;
}

.project-container {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

.item-one {
  grid-column: 1 / 7;
}

.project-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;

  gap: 10px;
  background-color: #2196f3;
  padding: 10px;
}

.item-two {
  font-size: 24px;
  grid-column: 1 / 2;
  border-style: dashed;
  border-color: blue;
}

.item-three {
  font-size: 24px;
  grid-column: 2 / 7;
  border-style: dashed;
  border-color: rgb(0, 0, 240);
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
  gap: 10px;
  gap: 10px 20px;
}

.inactive {
  display: none;
}

.item-three ul {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  list-style: none;
}

.item-three ul img {
  width: 100%;
  height: auto;

  display: flex;
}

.item-three ul li {
  background-color: aquamarine;
}

/* ..............MEDIA QUERIES................. */
/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-areas: auto;
    margin-top: 100px;
  }
}
