.modal-view {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}
.modal-view-left {
  flex: 1;
}

.modal-view-left img {
  width: 300px;
  height: 300px;
  margin: 20px;
}

.modal-view-right {
  flex: 1;
}

.website-btn {
  width: 90%;
  height: 40px;
  border: none;
  color: rgb(230, 134, 134);
  transition: ease-out 0.3s;
  font-size: 16px;
  line-height: 16px;
  outline: none;
  background-color: black;
  margin-bottom: 4px;
  margin-right: 150px;
}
.github-btn {
  width: 90%;
  height: 40px;
  border: none;
  transition: ease-out 0.3s;
  background-color: rgb(195, 95, 95);
  font-size: 16px;
  line-height: 16px;
  margin-right: 150px;
}

.website-btn:hover {
  cursor: pointer;
}

.github-btn:hover {
  cursor: pointer;
}
