.technology-container {
  width: 100%;
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}
.technology-container p {
  font-size: var(--font-size-heading);
}

.technology-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  justify-items: center;
  padding-inline-start: 0px;
}

/* CSS for Filename- individualTechItem.jsx */
.tech-item-box {
  width: 75px;
  margin: 16px 8px;
}
.tech-item-box img {
  max-width: 70px;
  height: 60px;
}
.tech-item-box li {
  list-style: none;
}

.tech-item-box li img {
  margin-bottom: 8px;
  margin-left: 5px;
}

.tech-item-box li label {
  font-size: 12px;
  text-align: center;
  margin-left: 6px;
}

@media only screen and (min-width: 768px) {
  .technology-container {
    margin-top: 100px;
  }
}
