:root {
  /* Color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-light-gray: #eeeeee;

  /* Font Size */
  --font-size-heading: 24px;
  --font-size-paragraph: 16px;

  /* Space */
  --space-extra-small: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-bigger: 48px;
}
