:root {
  /* Font Size */
  --font-size-heading: 24px;
  --font-size-paragraph: 16px;

  /* Space */
  --space-extra-small: 4px;
  --space-small: 8px;
  --space-medium: 16px;
  --space-big: 24px;
  --space-bigger: 48px;
  /* Color */
  --color-Ming: #2b6777;
  --color-Polished-Pine: #52ab98;
  --color-Columbia-Blue: #c8d8e4;
}
