/* 
Hex code and Color Name
#2B6777 color name is Ming
#52AB98 color name is Polished Pine
#C8D8E4 color name is Columbia Blue
*/
@import './css/NavBar.css';
@import './css/HeroSection.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
